// 
@use '../custom' as *;
@use '../components/maxins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* Glyph, by Harry Roberts */



// Base Divider class
.divider {
  display: flex;
  color: $third-color;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em -1em;
  
  &:before,
  &:after {
    height: 2px;
    margin: 0 1em;
  }
}


  .one-line {
    &:before,
    &:after {
    //   @include gradient
    background-color: $third-color;
    }
  }


  // ==============CARD SECTION ==============
 .card{
     
  color: $black;
  height: 35rem;
  background-color: #f8f9fa;
  margin: 20px;
  }

  .card:hover {
  box-shadow: 5px 5px 5px rgba(4, 147, 172, 0.168);
  transform: scale(1.1);
  border-radius: 8px;
}

.card {
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

}




