// 
@use '../custom' as *;
@use '../components/maxins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


  // ==============CARD SECTION ==============
 .cardService{
  height: 35rem;
  margin: 20px;
  background-color: #fff;
  }

  .cardService:hover {
  box-shadow: 5px 5px 5px rgba(4, 147, 172, 0.168);
  transform: scale(1.1);
  border-radius: 8px;
}

.cardService {
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

}




